# Zoom OAuth settings
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
REDIRECT_URI=

#Zoom Bot settings
ZOOM_BOT_JID=
ZOOM_ACCOUNT_ID= 

# Mailbox details
MAILBOX_EMAIL=

#Weaviate
ENDPOINT_USERNAME = 
ENDPOINT_PASSWORD = 
WEAVIATE_URL=
Weaviate-ID= 